{% load i18n %}
{% load product_tags %}
{% load thumbnail %}


{% with products_sliced=products|slice:":6" %}
    {% if products_sliced %}
        <div class="text-center text-sm hidden-sm-down">
            <h6 class="text-sm bg-primary text-white"><b>{% trans 'Products you recently viewed' %}  </b></h6>
        </div>
        <div class="hidden-md-up">
                <h6 class="text-black"><b>{% trans 'Your Recent Views' %}<em class=" text-xx"> (swipe left)</em></b></h6>
        </div>
  
     <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: false, &quot;margin&quot;: 10, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:3},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:5}} }">
            {% for product in products_sliced %}
                <div class="grid-item">

                    <div class="grid-item">
                        <div class="product-card">
                                <div class="rating-stars hidden-sm-down">
                                   
                                </div>
                                {% block product_image %}
                                <a class="product-thumb" href="{{ product.get_absolute_url }}" onclick="$('#cover-spin').show(0)">
                                   {% with image=product.primary_image %}
                                      {% thumbnail image.original "440x200" upscale=False as thumb %}
                                      <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail">
                                      {% endthumbnail %}
                                      
                                    {% endwith %}
                                  </a>
                                  {% endblock %}
                    
                                  {% block product_title %}
                                      <h3 class="product-title"><a href="{{ product.get_absolute_url }}" onclick="$('#cover-spin').show(0)" title="{{ product.get_title }}" {% include "toast.html" %}></a><b>{{ product.get_title|truncatechars:12 }}</b></h3>
                                  {% endblock product_title %}
                    
                              {% block product_price %}
                            <div class="product-price hidden-md-up">
                                {% include "catalogue/partials/stock_without.html" %}
                            </div>
                            <div class="product-price hidden-md-down">
                                    {% include "catalogue/partials/stock_record.html" %}
                                </div>
                    
                        
                    {% endblock %}
                              
                            </div>
        
                </div>
                </div>
            {% endfor %}
        </div>
     {% endif %}
{% endwith %}



