{% extends "customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}
    <div class="well">
        <a class="btn btn-success" href="{% url 'support:customer-ticket-create' %}">
            <i class="icon-inverse icon-plus"></i>
            {% trans "Create new ticket" %}
        </a>
    </div>

    <div class="tabbable">
        <div class="nav-collapse">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#open" data-toggle="tab">{% trans "Open" %}</a>
                </li>
                <li>
                    <a href="#resolved" data-toggle="tab">{% trans "Solved" %}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="open">
                {% include "oscar_support/customer/partials/ticket_table.html" with ticket_list=open_ticket_list %}
            </div>

            <div class="tab-pane" id="resolved">
                {% include "oscar_support/customer/partials/ticket_table.html" with ticket_list=resolved_ticket_list %}
            </div>
        </div>
    </div>
{% endblock tabcontent %}
