{% extends "customer/baseaccountpage.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extra_breadcrumbs %}
    <li>
        <a href="{% url 'support:customer-ticket-list' %}">{% trans 'Support' %}</a>
    </li>
{% endblock %}

{% block tabcontent %}
    <div class="container-fluid">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Priority" %}</th>
                    <th>{% trans "Date created" %}</th>
                    <th>{% trans "Last updated" %}</th>
                    <th>{% trans "Assigned to" %}</th>
                </tr>
                <tr>
                    <td>{{ ticket.type.name }}</td>
                    <td>{{ ticket.status.name }}</td>
                    <td>{{ ticket.priority.name }}</td>
                    <td>{{ ticket.date_created|date:"jS M Y H:i" }}</td>
                    <td>{{ ticket.date_updated|date:"jS M Y H:i" }}</td>
                    <td>{{ ticket.assignee.get_full_name|default:"-" }}</td>
                </tr>

                {% with attachments=ticket.attachments.all %}
                    {% if attachments|length %}
                        <tr>
                            <td colspan="6">
                                {% trans "Attachment(s):" %}
                                {% for attachment in attachments %}
                                    <a href="{{ attachment.file.url }}">{{ attachment.file.name }}</a>
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endwith %}
                {% with related_orders=ticket.relatedorders.all %}
                    {% if related_orders|length %}
                        <tr>
                            <td colspan="6">
                                {% trans "Related order(s):" %}
                                {% for related_order in related_orders %}
                                    <a href="{% url 'customer:order' related_order.order.number %}">
                                        {% blocktrans with order_number=related_order.order.number %}
                                            Order #{{ order_number }}
                                        {% endblocktrans %}
                                    </a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endwith %}
                {% with related_products=ticket.relatedproducts.all %}
                    {% if related_products|length %}
                        <tr>
                            <td colspan="6">
                                {% trans "Related product(s):" %}
                                {% for related_product in related_products %}

                                    {% with product=related_product.product %}
                                        <a href="{% url 'catalogue:detail' product.slug product.id %}">
                                            {% thumbnail product.primary_image.original "40x40" as img %}
                                                <img src="{{ img.url }}"/>
                                            {% endthumbnail %}
                                            {% blocktrans with product_number=product.title %}
                                                {{ product_title }}
                                            {% endblocktrans %}
                                        </a>{% if not forloop.last %},{% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endwith %}
            </table>
        </div>
    </div>

    <hr>

    <form id="add-message-form" enctype="multipart/form-data" action="." method="post" class="form">
        {% csrf_token %}

        {% block ticket_attachment %}
            <div class="tab-pane" id="ticket_attachment">
                {% block ticket_attachment_content %}
                    <table class="table table-striped table-bordered form-inline">
                        {{ attachment_formset.management_form }}
                        {{ attachment_formset.non_form_errors }}
                        {% for attachment_form in attachment_formset %}
                            <tr>
                                <td>
                                    {% include "dashboard/partials/form_fields_inline.html" with form=attachment_form %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endblock ticket_attachment_content %}
            </div>
        {% endblock ticket_attachment %}

        {% include "partials/form_fields.html" %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Send message" %}</button>
        </div>
    </form>

    <hr/>

    {% for message in message_list %}
        {% if not message.is_internal %}
            <div class="well">
                <p>
                    <strong>From:</strong> {{ message.user.get_full_name|default:message.user.email }}, {{ message.date_created|date:"jS M Y H:i" }}
                </p>
                {{ message.text|safe }}
            </div>
        {% endif %}
    {% endfor %}

    <div class="well">
        <p>
            <strong>From:</strong> {{ ticket.requester.get_full_name|default:ticket.requester.email }}, {{ ticket.date_created|date:"jS M Y H:i" }}
        </p>
        {{ ticket.body|safe }}
    </div>
{% endblock tabcontent %}
