{% extends "catalogue/detail.html" %}
{% load i18n %}

{% block product_review %}
    <div id="addreview" class="review_add">
        <form onsubmit="$('#cover-spin').show(0)" id="add_review_form" method="post" action="./#addreview">
            <fieldset>
                <b class="text-sm text-center">{% trans "Leave a product review" %}</b>
                {% csrf_token %}
                
                {% include 'partials/form_field.html' with field=form.title %}

                       
                    <div class="controls">
                         

                        {% for error in form.score.errors %}
                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    </div>
 
                    {% include 'partials/form_field.html' with field=form.score %}
                   
                </div>

                {% include 'partials/form_field.html' with field=form.body %}
                {% if form.name %}
                    {% include 'partials/form_field.html' with field=form.name %}
                {% endif %}
                {% if form.email %}
                    {% include 'partials/form_field.html' with field=form.email %}
                {% endif %}


                <button type="submit" class="btn btn-primary btn-sm" >{% trans "Save review" %}</button>
                {% trans "or" %}
                <a href="{{ product.get_absolute_url }}">{% trans "cancel" %}</a>
            </fieldset>
        </form>
    </div>
{% endblock %}
