*.pyc
__pycache__
*.pyo
*.mo
*.db
*.egg-info/
*.egg/
.coverage
.project
.idea/
.pydevproject
.idea/workspace.xml
.tox/
.vscode
.DS_Store
db.sqlite3
uwsgi.ini
log/**
!log/placeholder
!media/**/init.txt
media/images
market/media/cache
market/media/images
market/media/categories