{% extends 'layout.html' %}
{% load i18n %}

{% block spin %}
  
{% endblock spin %}
{% block title %}{% trans 'Password reset' %} | {{ block.super }}{% endblock %}

{% block mobile %}
{% block sitelogo %}
        <div style=" padding-top:22.5px" onclick="goBack()">
            &nbsp;&nbsp;&nbsp;&nbsp;<a class="icon-arrow-left " style="font-size:18px; font-weight:bold;color:#606975; background-color:white" ></a> &nbsp;&nbsp;&nbsp;<a style="font-size:16px;color:#606975;padding-top:200px">{% block bread %}
              {% trans 'Password Reset' %}{% endblock bread %}</a>
            </div>
 {% endblock sitelogo %}
{% endblock mobile %}

{% block show_search %}
  
{% endblock show_search %}

{% block show_basket %}
  
{% endblock show_basket %}
{% block show_account %}
<div onclick="$('#cover-spin').show(0)" class="account"><a href="/"></a><i style="font-weight:bold; font-size:21px" class="pe-7s-home"></i></div>

{% endblock show_account %}

{% block canvax %}
<div class=" hidden-sm-down">
{% block breadcrumbs %}

<div class="page-title">
        <div class="container">
          
          <div class="column">
            <ul class="breadcrumbs">
                    <a href="{{ homepage_url }}">{% trans "Home" %}</a>       
              <li class="separator">&nbsp;</li>
              
            <li class="separator">&nbsp;</li>
              <li class="active">{% trans 'Password Reset' %}</li>
            </ul>
          </div>
        </div>
      </div>
{% endblock %}
</div>
{% endblock canvax %}

{% block headertext %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 container">
      <p></p>
      <h6 class="text-lg text-primary">Forgot your password?</h6>
      <p>Change your password in three easy steps. This helps to keep your new password secure.</p>
      <ol class="list-unstyled">
        <li><span class="text-primary text-sm">1. </span>Fill in your email address below.</li>
        <li><span class="text-primary text-sm">2. </span>e-mail instructions for setting a new one.</li>
      </ol>
      <form onsubmit="$('#cover-spin').show(0)" id="password_reset_form" action="." method="post">
          {% csrf_token %}
          {% include 'partials/form_fields.html' with style='stacked' %}
          <div class="form-group form-actions">
              <button type="submit" class="btn btn-primary btn-lg" data-loading-text="{% trans 'Sending...' %}">{% trans 'Send reset email' %}</button>
          </div>
      </form>
    </div>
  </div>
    

{% endblock %}
