{% extends "offer/list.html" %}
 
{% load i18n %}
{% load product_tags %}
{% load category_tags %}
{% load promotion_tags %}
{% block bread %}
        {{ offer.name }} ( {{paginator.count}} )
{% endblock bread %}

{% block show_account %}
<div class="account"><a href="/"></a><i style="font-weight:bold; font-size:21px" class="pe-7s-home"></i></div>

{% endblock show_account %}

{% block show_basket %}

{% endblock show_basket %}

{% block canvax %}
<div class=" hidden-md-down">
{% block breadcrumbs %}
<div class="page-title">
        <div class="container">
          <div class="column">
            <h1>{{ offer.name }}</h1>
          </div>
          
          
          </div>
        </div>
      </div>

 {% endblock %}
</div>
{% endblock canvax %}


{% block user %}
{% block show_cat %}
 {% category_tree as tree_categories %}
{% if tree_categories %}
             <section class="widget widget-categories container">

                    <h3 class="widget-title"><i class=" material-icons sort "></i>&nbsp;&nbsp;Shop Categories</h3>
                    {% include "catalogue/catalogue_categories.html" %}
              </section>
 {% endif %}
  {% endblock show_cat %}

{% if has_facets %}
<p class="padding-bottom-1x "></p>
<section class="container"><h3 class="widget-title"><i class=" material-icons sort_by_alpha "></i>&nbsp;&nbsp;{% trans "Refine by" %}</h3>
    <div class="widget-categories">
        {% for field, data in facet_data.items %}
            {% if data.results %}
                {% include 'search/partials/facet.html' with name=data.name items=data.results %}
            {% endif %}
        {% endfor %}
    </div>
</section>

{% endif %}
 {% endblock user %}


{% block content %}
 
    {% if not offer.is_available %}
        <div class="alert alert-danger">{% trans " This offer is no longer available." %}</div>
    {% endif %}

    {% if upsell_message %}
    {% for promotion in promotions_another %}
                              {% render_promotion promotion %}
                          {% endfor %}
  
    
    {% endif %}

    {% if products %}

<p></p>
<p></p>
    <div class="isotope-grid cols-4 mb-2">
                <div class="gutter-sizer"></div>
                <div class="grid-sizer"></div>                    
                {% for product in products %}
                <div class="grid-item">
                <a class="bg-primary text-white text-center" style=" font-size:10px">&nbsp; {{offer.description|truncatewords:1 }} Off &nbsp; </a>
    
                {% render_product product %}
                    </div>
                    {% endfor %}
            </div>
    
            {% include "partials/pagination.html" %}

            {% else %}

    <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}
 {% endblock content %}
