{% extends "layout.html" %}

{% load i18n %}
{% load product_tags %}




{% block mobile %}
{% block sitelogo %}
        <div style=" padding-top:22.5px"  onclick="goBack()">
            &nbsp;&nbsp;&nbsp;&nbsp;<a class="icon-arrow-left " style="font-size:18px; font-weight:bold;color:#606975; background-color:white"></a> &nbsp;&nbsp;&nbsp;<a style="font-size:16px;color:#606975;padding-top:200px">{% block bread %}
                Offer Zone{% endblock bread %}</a>
            </div>
 {% endblock sitelogo %}
{% endblock mobile %}

{% block show_account %}
<div class="account"><a href="/"></a><i style="font-weight:bold; font-size:21px" class="pe-7s-home"></i></div>

{% endblock show_account %}

{% block show_basket %}

{% endblock show_basket %}

{% block canvax %}
<div class=" hidden-md-down">
{% block breadcrumbs %}
   

    <div class="page-title">
            <div class="container">
              
              <div class="column">
                <ul class="breadcrumbs">
                        <a href="{{ homepage_url }}">{% trans "Home" %}</a>       
                  <li class="separator">&nbsp;</li>
                  <li>
                        <a href="{% url 'offer:list' %}">{% trans "Offers" %}</a>
                    </li>
                    <li class="active">{{ offer.name }}</li>
                    </ul>
                 </ul>
              </div>
            </div>
          </div>
 {% endblock %}
</div>
{% endblock canvax %}

{% block content %}
<p></p>
    {% if not offers %}
        <p>{% trans "There are no site offers at the moment." %}</p>
    {% else %}
        {% for offer in offers %}
        <h2 class=" text-lg"><a onclick="$('#cover-spin').show(0)" href="{% url 'offer:detail' slug=offer.slug %}">{{ offer.name }} <em class=" text-xx">(swipe left)</em></a></h2>
        {% if offer.description %}
            <p class=" text-xs text-center">{{ offer.description|safe }}</p>
        {% endif %}
        {% if offer.has_products %}
       
            <div class="row">
                    <section class="container  padding-bottom-30x">
                        <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;:false, &quot;margin&quot;: 2, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:3},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:5}} }">
                              <!-- Product-->
                {% for product in offer.products|slice:":12" %}
                <div class="grid-item">{% render_product product %}</div>
                {% endfor %}
            </div>
        </section>
            </div>
            <p></p>
            <div class=" text-center">
                <a onclick="$('#cover-spin').show(0)" href="{% url 'offer:detail' slug=offer.slug %}"><p class=" text-primary text-xs text-black"> {% trans "More"%} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="text-primary text-bold icon-arrow-right"></i></p></a>
            </div>

        {% endif %}
        <hr/>
        {% endfor %}
    {% endif %}
{% endblock content %}
