{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}
{% load static%}
{% load staticfiles%}


{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert alert-warning">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
<div class="alert alert-info alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>
    {% for upsell in upsell_messages %}
        {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
            <div class="warning">{{ message }} to qualify for the <a class=" text-white bg-success text-sd" href="{{ url }}">&nbsp;{{ offer_name }}&nbsp;</a> special offer</div>
        {% endblocktrans %}
    {% endfor %}
</div>
       
    {% endif %}

    {% if not basket.is_empty %}
    
{% block disclaimer %}

                 {% endblock %}
                        <table class="table">
                        {% block basket_form_headers %}
                          <thead class="  text-sm hidden-md-up" style=" margin:0 auto">
                            <tr>
                              <th class="text-primary">{% trans "Items to buy" %}</th> 
                               <th class="text-right text-primary">{% trans "Qty" %}</th>
                              <th class=" text-right text-primary">{% trans " Price" %}</th>
                               <th class="text-center text-primary">{% trans "Total" %}</th>
                              </tr>
                          </thead>
                        {% endblock %}
        </table>
        <div class="table-responsive  shopping-cart">

                        {% block basket_form_main %}
                        <form action="." method="post" class="basket_summary" id="basket_formset">
        
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {% with line=form.instance product=form.instance.product %}
                            {% purchase_info_for_line request line as session %}
                            <table class="table">
                          <tbody>
                            <tr>
                              <td>
                                    
                                <div class="product-item" style=" min-width: 80px;"> {{ form.id }}
                                        {% with image=product.primary_image %}
                                            {% thumbnail image.original "100x100" upscale=False as thumb %}
                                                <a href="{{ product.get_absolute_url }}" onclick="$('#cover-spin').show(0)">
                                                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                                </a>
                                            {% endthumbnail %}
                                        {% endwith %}
                                  
                                </div>
                                <div class="product-info">
                                        <h5 class="product-title"><a href="{{ product.get_absolute_url }}" onclick="$('#cover-spin').show(0)"><b class="text-xc text-center"> {{ line.description}}</b></a></h5></span>
                                      </div>
                              </td>
                              <td class="text-center">
                             
                                            <div class="count-input ">
                                                  <div class="input-group {% if form.errors %}error{% endif %}">
                                                      {% render_field form.quantity class+="form-control" %}
                                                  
                                                  </div>
                                              </div>
                                      <p></p>
                                      <p>
                                                 
                                <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove" class="remove-from-cart"><i class="material-icons icon_close"></i></a>
   
                                <div style=" display:none">
                                    {{ form.save_for_later }}
                                    {{ form.DELETE }}
                                </div>
                                {% for field_errors in form.errors.values %}
                                    {% for error in field_errors %}
                                        <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                    {% endfor %}
    
                                {% endfor %}
                            </p>
                            </td>
                              {% if not line.unit_price_incl_tax and not line.unit_tax_excl_tax %}
                              <td class="text-center text-xs">&mdash;</td>
                              {% else %}
                              {% if line.is_tax_known %}
                              <td class="text-center text-xs"><b>{{ line.unit_price_incl_tax}}</b>
                                </td>
                                    {% else %}
                                    <td class="text-center text-xs"><b>{{ line.unit_price_incl_tax }}</b></td>
                                    {% endif %}
                                {% endif %}
        
                                {% if not line.line_price_incl_tax and not line_price_excl_tax %}
                              <td class=" text-xs">&mdash;</td>
                              {% else %}
                              {% if line.is_tax_known %}
                              <td class="text-center text-xs"><b>{{ line.line_price_incl_tax }}</b></td>
                               {% else %}
                               <td class="text-center text-xs"><b>{{ line.line_price_excl_tax }}</b></td>
                                {% endif %}
                            {% endif %}
                            <td class="text-center">
                      </div>
                      </td>
                             </tr>
                             
                          </tbody>
                        </table>
                        {% endwith %}
                        
                        {% endfor %}
                        </form>
                     {% endblock %}
                    
                      </div>

         <div class="shopping-cart-footer">
               {% block vouchers %}
            {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
            {% if voucher_form %}
                <div class="col-sm-6">
                   
                    <p class="text-center" id="voucher_form_link"><a href="#voucher" class="btn btn-outline-success btn-sms ">{% trans "I have a voucher code..." %}</a></p>
                    <div id="voucher_form_container" style="display:none">
                        <form onsubmit="$('#cover-spin').show(0)" id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">
                            {% csrf_token %}
                            {% include "partials/form_fields.html" with form=voucher_form %}
                            <button type="submit" class="btn btn-success btn-sms" >{% trans "Add voucher" %}</button>
                            {% trans "or" %}&nbsp; <a href="#" id="voucher_form_cancel">{% trans "CANCEL" %}</a>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endblock vouchers %}

          {% block baskettotals %}
        <div class="column text-xs">      
                {% include 'basket/partials/basket_totals.html' with editable=1 %}
      </div>
        {% endblock baskettotals %}
        </div>  
        {% block formactions %}
        <div class="shopping-cart-footer float-right">
        <div class="column">
            <a class="btn btn-lg btn-outline-primary btn-sm btn-block"  href="{% url 'checkout:index' %}" onclick="$('#cover-spin').show(0)"><b>{% trans "Proceed to checkout" %}&nbsp;&nbsp;<i style="font-weight:bold" class="icon-arrow-right"></i></b></a></div>
      </div>
        {% endblock formactions %}
{% else %}
    {% block emptybasket %}
            <!-- Page Content-->
            <div class="container padding-top-0x padding-bottom-3x mb-1" >
                <img class="d-block m-auto" src="{% static "oscar/img/components/01.jpg"%}" style="width:35%; max-width: 550px;" alt="404">
              <div class="padding-top-1x mt-2 text-center">
                <h6><b>{% trans "Your basket is empty." %}</b></h6>
                <p><a class="btn btn-sm btn-outline-primary" href="{{ homepage_url }}"  onclick="$('#cover-spin').show(0)"><b>{% trans "Continue shopping" %}</b></a></p>
              </div>
            </div>
    {% endblock %}
{% endif %}


