{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Login or register' %} | {{ block.super }}
{% endblock %}

{% block mobile %}
{% block sitelogo %}

<div style=" padding-top:22px" onclick="goBack()">
    &nbsp;&nbsp;&nbsp;&nbsp;<a class="icon-arrow-left " style="font-size:18px; font-weight:bold;color:#606975; background-color:white" ></a>&nbsp;&nbsp;&nbsp;<a style="font-size:17px;color:#606975;padding-top:200px"> {% block bread %}
        {% trans 'Sign In' %}{% endblock bread %}</a>
    </div>
 {% endblock sitelogo %}
{% endblock mobile %}

{% block show_account %}
<div class="account"><a href="/" onclick="$('#cover-spin').show(0)"></a><i style="font-weight:bold; font-size:21px" class="pe-7s-home"></i></div>

{% endblock show_account %}
{% block show_basket %}

{% endblock show_basket %}

{% block show_search %}




{% endblock show_search %}


{% block canvax %}
{% block breadcrumbs %}
<div class=" hidden-md-down">
<div class="page-title">
        <div class="container">
          
          <div class="column">
            <ul class="breadcrumbs">
                    <a href="{{ homepage_url }}">{% trans "Home" %}</a>       
              <li class="separator">&nbsp;</li>
              <li>
                <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
            </li>
            <li class="separator">&nbsp;</li>
              <li class="active">{% trans 'Login/Register' %}</li>
            </ul>
          </div>
        </div>
      </div>
{% endblock %}
</div>
{% endblock canvax %}

 
{% block content %}

    <div class="row">
        <div class="col-sm-6 login_form box">
            <form onsubmit="$('#cover-spin').show(0)" id="login_form" action="{{ request.get_full_path }}" method="post" class="well" style="background-image: url('/static/oscar/css/img/bg.png');">
                <h6 class='text-center hidden-md-down' style="color:#606975"><b><i class=" material-icons person_pin_circle"></i> {% trans ' Log In' %}</b></h6>
                <p class=" hidden-md-up"></p>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=login_form %}
                <p><a onclick="$('#cover-spin').show(0)" class=" text-primary" href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-outline-primary btn-sm btn-block" ><b>{% trans 'Sign In' %}</b></button>
            </form>
            
        </div>
        <div class="col-sm-6 register_form ">
                <span class="margin-bottom-1x text-sd text-center">Not a member?&nbsp;&nbsp; <a onclick="$('#cover-spin').show(0)" href="{% url 'customer:register' %}"><u class=" text-primary"><i class=" pe-7s-add-user text-bold"></i>&nbsp; Sign Up Now</u></a></span>
                <p class=" hidden-sm-down">Not a customer? Registration takes less than a minute. Get full control over your orders</p>
            <form onsubmit="$('#cover-spin').show(0)" class="hidden-sm-down" id="register_form" action="{{ request.get_full_path }}" method="post" class="well" style="background-image: url('/static/oscar/css/img/bg.png');">
                
                    <h6 class='text-center'><b style="color:#606975"> <i class=" pe-7s-add-user text-bold"></i> {% trans ' Register' %}</b></h6>
                    {% csrf_token %}
                {% include "partials/form_fields.html" with form=registration_form %}
                <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-outline-primary btn-sm btn-block" data-loading-text="{% trans 'Registering...' %}"><b>{% trans 'Register' %}</b></button>
            </form>
        </div>
    </div>

{% endblock content %}
