{% extends "customer/login_registration.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Register' %} | {{ block.super }}
{% endblock %}

{% block bread %}
    {% trans 'Sign up' %}
{% endblock bread %}

{% block headertext %}
    {% trans "Register" %}
{% endblock %}
{% block canvax %}


{% block show_basket %}

{% endblock show_basket %}
{% block show_search %}

{% endblock show_search %}
 <div class=" hidden-md-down">

 {% block breadcrumb %}
 
 <div class="page-title">
         <div class="container">
           <div class="column text-medium">
             
Register
           </div>
         </div>
 </div>
 {% endblock breadcrumb %}
 </div>
 {% endblock canvax %}


 {% include "partials/alert_messages.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 register_form">
            <form onsubmit="$('#cover-spin').show(0)" id="register_form" action="." method="post" class="form-stacked">
                    <h6 class='text-center hidden-md-down'><b style="color:#606975"> <i class=" pe-7s-add-user text-bold"></i> {% trans ' Register' %}</b></h6>
<p class=" hidden-down-up"></p>
                {% csrf_token %}
                {% include "partials/form_fields.html"  %}
                <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-outline-primary btn-sm btn-block" data-loading-text="{%trans 'Registering...' %}">{% trans 'Register' %}</button>
            </form>
        </div>
    </div>
    <span class="margin-bottom-1x text-sd text-center">Have an account?&nbsp;&nbsp; <a  href="{% url 'customer:register' %}"><u class=" text-primary"><i class=" pe-7s-add-user text-bold"></i>&nbsp; Sign In</u></a></span>
<p> &nbsp;</p>
{% endblock content %}
