{% load reviews_tags %}
{% load i18n %}

{% if product.rating != None %}
    <p class="star-rating {{ product.rating|as_stars }} text-center">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>

        <small><a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
                {% blocktrans count product.num_approved_reviews as num_reviews %}
                    {{ num_reviews }} customer review
                {% plural %}
                    {{ num_reviews }} customer reviews
                {% endblocktrans %}
        </a></small>
    </p>

    {% else %}
    <p class="star-rating {{ product.rating|as_stars }} text-center">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
    
            <small><a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
                    {% blocktrans count product.num_approved_reviews as num_reviews %}
                        {{ num_reviews }} customer review
                    {% plural %}
                        {{ num_reviews }} customer reviews
                    {% endblocktrans %}
            </a></small>
    </p>    
{% endif %}
