{% load i18n %}
{% load currency_filters %}
<div class="table-header">
    <h3>
        {% blocktrans %}{{ title }}{% endblocktrans %}
        <button type="button" class="btn btn-default pull-right" data-toggle="collapse"
                data-target="#{{ id }}">{% trans "Show/Hide" %} {{ count }}
        </button>
    </h3>
</div>

{% block tag %}
    <div id="{{ id }}" class="collapse in">
        <form id="{{ id }}-form" method="post" action="." class="form-stacked">
            {% csrf_token %}
            {% block tag_content %}
                {{ tag_formset.management_form }}
                {{ tag_formset.non_form_errors }}
                <table class="table table-bordered table-striped">
                    <tbody>
                    {% for tag_form in tag_formset %}
                        {% if tag_form.non_field_errors %}
                            <tr>
                                <td>
                                    {% for error in tag_form.non_field_errors %}
                                        <span class="error-block errorlist"><i
                                                class="icon-exclamation-sign"></i> {{ error }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            {% for field in tag_form %}
                                <td>
                                    {% include "dashboard/partials/form_field.html" with field=field %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock tag_content %}
            <div class="form-actions">
                <a href="{{ url }}" class="btn">{% trans "cancel" %}</a>
                <div class="pull-right">
                    <button class="btn btn-primary btn-lg" type="submit"
                            data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
{% endblock tag %}
