{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}

<div class="table-header">
    <h3>
        {% trans "Related products:" %}
        <button type="button" class="btn btn-default pull-right" data-toggle="collapse"
                data-target="#related-products">
            {% trans "Show/Hide" %} {{ ticket.relatedproducts.all|length }}
        </button>
    </h3>
</div>

{% block ticket_product %}
    <div id="related-products" class="collapse in">
        {% block ticket_product_content %}
            {{ related_product_formset.management_form }}
            {{ related_product_formset.non_form_errors }}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{% trans "UPC" %}</th>
                    <th colspan="2">{% trans "Title" %}</th>
                    <th>{% trans "Product class" %}</th>
                    <th>{% trans "Partner" %}</th>
                    <th>{% trans "Partner SKU" %}</th>
                    <th>{% trans "Price exc tax" %}</th>
                    <th>{% trans "Number in stock" %}</th>
                    <th>{% trans "Number allocated" %}</th>
                    <th>{% trans "Delete?" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for related_product_form in related_product_formset %}
                    {% if related_product_form.non_field_errors %}
                        <tr>
                            <td>
                                {% for error in related_product_form.non_field_errors %}
                                    <span class="error-block errorlist"><i
                                            class="icon-exclamation-sign"></i> {{ error }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>{{ related_product_form.instance.product.upc|default:"-" }}</td>
                        <td>
                            {% thumbnail related_product_form.instance.product.primary_image.original "50x50" as img %}
                                <img src="{{ img.url }}"/>
                            {% endthumbnail %}
                        </td>
                        <td>{% include "dashboard/partials/form_field.html" with field=related_product_form.product nolabel=True %}</td>
                        <td>{{ related_product_form.instance.product.product_class.name|default:"-" }}</td>
                        <td>{{ related_product_form.instance.product.stockrecords.get.partner.name|default:"-" }}</td>

                        <td>{{ related_product_form.instance.product.stockrecords.get.partner_sku|default:"-" }}</td>
                        <td>{{ related_product_form.instance.product.stockrecords.get.price_excl_tax|currency|default:"-" }}</td>
                        <td>{{ related_product_form.instance.product.stockrecords.get.num_in_stock|default:"-" }}</td>
                        <td>{{ related_product_form.instance.product.stockrecords.get.num_allocated|default:"0" }}</td>
                        <td>
                            {% include "dashboard/partials/form_field.html" with field=related_product_form.uuid nolabel=True %}
                            {% include "dashboard/partials/form_field.html" with field=related_product_form.DELETE nolabel=True %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock ticket_product_content %}
    </div>
{% endblock ticket_product %}
