{% extends "customer/baseaccountpage.html" %}
{% load currency_filters %}
{% load display_tags %}
{% load i18n %}
{% load reviews_tags %}
{% load thumbnail %}


{% block bread %}
Order Detail
{% endblock bread %}

{% block show_search %}

{% endblock show_search %}
{% block extra_breadcrumbs %}
    <li>
        <a href="{% url 'customer:order-list' %}">{% trans 'Order history' %}</a>
    </li>
{% endblock %}

{% block tabcontent %}
{% if order.status %}
        <div class="sub-header">
            <h6 class="text-medium text-primary"><b>{% trans 'Order Status' %}</b></h6>
        </div>
        <p class=" text-danger" >{{ order.status }}</p>
    {% endif %}  <div class="sub-header">
            <h6 class=" text-primary">{% trans 'Order Content' %}</h6>
        </div>  <table class="table table-responsive table-striped table-bordered table-success text-xs">
        <thead>
            <tr>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Dispatch ' %}</th>
                <th>{% trans 'Qty' %}</th>
                <th>{% trans 'excl tax' %}</th>
                <th>{% trans 'incl tax' %}</th>
 
                
            </tr>
        </thead>
        <tbody>
            {% for line in order.lines.all %}
                {% with product=line.product %}
                    <tr>
                        <td>
                            {% if product %}
                                <p>
                                        <a class="product-thumb" href="{{ product.get_absolute_url }}" >
                                                {% with image=product.primary_image %}
                                                   {% thumbnail image.original "155x155" upscale=False as thumb %}
                                                   <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail">
                                                   {% endthumbnail %}
                                                   
                                                 {% endwith %}
                                                 {{ line.description }}                   
                                                
                                                </a>
                                 </p>
                                <span class="hidden-md-down">

                            </span>

                            {% else %}
                                <p>
                                    {{ line.description }}
                                </p>
                            {% endif %}
                        </td>
                        <td>{{ line.est_dispatch_date|default:"-" }}</td>
                        <td>{{ line.quantity }}</td>
                        <td>{{ line.line_price_before_discounts_excl_tax|currency:order.currency }}</td>
                        <td>{{ line.line_price_before_discounts_incl_tax|currency:order.currency }}</td>
                         
                    </tr>
                {% endwith %}
            {% endfor %}

            {% with discounts=order.basket_discounts %}
                {% block discount_totals %}
                    {% if discounts %}
                        <tr>
                            <td colspan="4" class=" text-primary">{% trans "Basket total (excl. discounts)" %}</td>
                            <td colspan="2">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                        </tr>
                        {% for discount in discounts %}
                        <tr>
                            <td colspan="4" class=" text-primary">
                                <span class="label label-success">{% trans "Discount" %}</span>
                                {{ discount.offer_name }}
                            </td>
                            <td colspan="2">- {{ discount.amount|currency:order.currency }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                {% endblock discount_totals %}

                {% block basket_total %}
                    {% if discounts %}
                        <tr>
                            <th colspan="4" class=" text-primary">{% trans "Basket total (inc. discounts)" %}</th>
                            <td colspan="2">{{ order.basket_total_incl_tax|currency:order.currency }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th colspan="4" class=" text-primary">{% trans "Basket total" %}</th>
                            <td colspan="2">{{ order.basket_total_incl_tax|currency:order.currency }}</td>
                        </tr>
                    {% endif %}
                {% endblock basket_total %}
            {% endwith %}

            {% block shipping_totals %}
                {% if order.has_shipping_discounts %}
                    <tr>
                        <td colspan="4" class=" text-primary">{% trans "Shipping total (excl. discounts)" %}</td>
                        <td colspan="2">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                    </tr>
                    {% for discount in order.shipping_discounts %}
                    <tr>
                        <td colspan="4" class=" text-primary">
                            <span class="label label-success">{% trans "Discount" %}</span>
                            {{ discount.offer_name }}
                        </td>
                        <td colspan="2">- {{ discount.amount|currency:order.currency }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class=" text-primary">{% trans "Shipping total (inc. discounts)" %}</th>
                        <td colspan="2">{{ order.shipping_incl_tax|currency:order.currency }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="4" class=" text-primary">{% trans "Shipping total" %}</th>
                        <td colspan="2">{{ order.shipping_incl_tax|currency:order.currency }}</td>
                    </tr>
                {% endif %}
            {% endblock %}

            {% block order_total %}
                <tr>
                    <th colspan="4" class=" text-primary">{% trans 'Order total' %}</th>
                    <td colspan="2">{{ order.total_incl_tax|currency:order.currency }}</td>
                </tr>
            {% endblock order_total %}
        </tbody>
    </table>

    {% block order_actions %}
        <form  class="text-center" id="order_form_{{ order.id }}" action="{% url 'customer:order' order_number=order.number %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="order_id" value="{{ order.id }}" />
            <input type="hidden" name="action" value="reorder" />
            <button cla type="submit" class="btn btn-primary" data-loading-text="{% trans 'Re-ordering...' %}">{% trans 'Re-order all items' %}</button>
        </form>
    {% endblock order_actions %}

    <hr>

    <h6 class="text-medium text-primary"><b> {% trans 'Shipping Method' %}</b></h6>
    <p class=" padding-bottom-1x">{{ order.shipping_method }}</p>

   

    <h6 class=" text-primary"><b> {% trans 'Shipping Address' %}</b></h6>

    <table class="table text-xs table-bordered table-info">
        <tr>
            <th>{% trans 'Address' %}</th>
            <th>{% trans 'Contact Number' %}</th>
         </tr>
        <tr>
            <td>
                    {% for field in order.shipping_address.active_address_fields %}
                        {{ field }}<br/>
                    {% endfor %}
            </td>
            <td>{{ order.shipping_address.phone_number|default:"-" }}</td>
         </tr>
    </table>
{% endblock tabcontent %}
