{% load i18n %}     

 <div class="checkout-steps text-xs">

    <a class="step5 {% if step == 5 %}active{% else %}disabled{% endif %}"><b>{% trans "Preview "%}</b></a>
    

    {% if step == 4 %}
    <a class="completed" href="{% url 'checkout:payment-details' %}"><span class="angle"></span><span class="step-indicator icon-circle-check"></span></span><b>Payment</b></a>
    {% else %}
    <a class="step3 {% if step == 3 %}active{% else %}{% if step == 4 %}previous{% else %}{% if step > 3 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} "><span class="angle"></span><b> Payment</b></a>
    {% endif %}


    {% if step == 3 or step == 4 %}
    <a class="completed" href="{% url 'checkout:shipping-method' %}"><span class="angle"></span><span class="step-indicator icon-circle-check"></span></span><b>Shippin</b></a>
    {% else%}
    <a class="step2 {% if step == 2 %}active{% else %}{% if step == 3 %}previous{% else %}{% if step > 2 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %}" ><span class="angle"></span><b> Shipping</b></a>
    {% endif %}


    {% if step == 2 or step == 3 or step == 4 %}
    
         <a class="completed" href="{% url 'checkout:shipping-address' %}"><span class="angle"></span><span class="step-indicator icon-circle-check"></span><b> Address</b></a>
        
    {% else %}
        <a class="step1 {% if step == 1 %}active{% else %}{% if step == 2 %}previous{% else %}{% if step > 1 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %}"><span class="angle"></span>Address</a>
        {% endif %}
</div>
