{% load i18n %}
{% load currency_filters %}
{% load shipping_tags %}

<div class="col-xl-3 col-lg-4 ">
    <aside class="sidebar container-fluid container">
      <div class="padding-top-2x hidden-lg-up"></div>
      <!-- Order Summary Widget-->
      
<section class="widget widget-order-summary">
        <h3 class="widget-title text-xs text-center"><b > Order Summary</b></h3>
        <table class="table">
            {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
    
            {% block basket_total %}
            {% if offer_discounts or voucher_discounts %}
            <tr>
                    <td class=" total text-xs">{% trans "Basket total (before discounts)" %}</td>
                    <td class="total align-right text-xs text-primary">{{ basket.total_incl_tax_excl_discounts|currency }}</td>
                </tr>
                {% if offer_discounts %}
                {% for discount in offer_discounts %}
                <tr>
                    <td class="total text-xs"><span>{% trans "Discount" %} -</span> {{ discount.name }}
                        {% if discount.description %}
                        <br/><small>{{ discount.description }}</small>
                        {% endif %}
                    </td>
                    <td class="align-right total text-xs text-danger">-{{ discount.discount|currency }}</td>
                </tr>
                {% endfor %}
            {% endif %}

            {% if voucher_discounts %}
                <tr>
                    <th colspan="2"><h4 class="text-xs">{% trans "Vouchers" %}</h4></th>
                </tr>
                {% for discount in voucher_discounts %}
                <tr>
                    <td class=" total text-xs text-success">
                        {{ discount.voucher.name }} ({{ discount.voucher.code }})
                        {% if editable %}
                        <form action="{% url 'basket:vouchers-remove' discount.voucher.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="{% trans "Remove" %}" class="btn btn-small btn-danger"/>
                        </form>
                        {% endif %}
                    </td>
                    <td class="text-xs">-{{ discount.discount|currency }}</td>
                </tr>
                {% endfor %}
            {% endif %}
                <tr>
                    <td class="total text-xs">{% trans "Basket total (after discounts)" %}</td>
                    <td class="total align-right text-xs text-primary">
                        {% if not show_tax_separately and basket.is_tax_known %}
                            {{ basket.total_incl_tax|currency:basket.currency }}
                        {% else %}
                            {{ basket.total_excl_tax|currency:basket.currency }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                {# No discounts to basket #}
                <tr>
                    <td class="text-xs">{% trans "Basket total" %}</td>
                    <td class="text-xs text-primary">
                        {% if not show_tax_separately and basket.is_tax_known %}
                            {{ basket.total_incl_tax|currency:basket.currency }}
                        {% else %}
                            {{ basket.total_excl_tax|currency:basket.currency }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endblock %}
    {% endwith %}
    
          {% block shipping_totals %}
          <tr>
          
          <tr>
            {% if not shipping_method.is_discounted %}
            <td class="text-xs hidden-md-down">{{ shipping_method.name }}</td>
            <td class="text-xs hidden-md-down">
                {% if not show_tax_separately and shipping_charge.is_tax_known %}
                {{ shipping_charge.incl_tax|currency:basket.currency }}
            {% else %}
                {{ shipping_charge.excl_tax|currency:basket.currency }}
            {% endif %}
            </td>
    
          </tr>
        </tr>
          {% else %}
          {% shipping_charge_discount shipping_method basket as shipping_discount %}
          {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
          {# As shipping is discounted, we break it down into its original charge and a discount #}
          
          <tr>
            <td>
                 <td class="text-xs total">{% trans "Shipping method" %}</td>
    
                <td class="text-xs">{{ shipping_method.name }}</td>
    
            </td>
          </tr>
          <tr>
              <td class="text-xs">{% trans "Shipping total (before discounts)" %}</td>
              <td class="text-xs text-primary">
                  {% if not show_tax_separately and shipping_charge_excl_discount.is_tax_known %}
                      {{ shipping_charge_excl_discount.incl_tax|currency:basket.currency }}
                  {% else %}
                      {{ shipping_charge_excl_discount.excl_tax|currency:basket.currency }}
                  {% endif %}
              </td>
          </tr>
          <tr>
              <td class="text-xs"><span class="label label-success">{% trans "Discount" %}</span> {{ shipping_method.discount_name }}</td>
              <td class="text-xs">-{{ shipping_discount|currency:basket.currency }}</td>
          </tr>
          <tr>
              <td class="text-xs">
                  {% trans "Shipping total (after discounts)" %}
              </td>
              <td class="text-xs text-primary">
                  {% if not show_tax_separately and shipping_charge.is_tax_known %}
                      {{ shipping_charge.incl_tax|currency:basket.currency }}
                  {% else %}
                      {{ shipping_charge.excl_tax|currency:basket.currency }}
                  {% endif %}
              </td>
          </tr> 
          {% endif %}
          {% endblock shipping_totals %}
    
          {% block tax_totals %}
          {% if show_tax_separately %}
              
              <tr>
                  <th class="text-xs">
                      <h3>{% trans "Tax" %}</h3>
                  </th>
              </tr>
              <tr>
                  <td class="text-xs">{% trans "Basket" %}</td>
                  <td class="text-xs primary">
                      {{ basket.total_tax|currency:basket.currency }}
                  </td>
              </tr>
              <tr>
                  <td class="text-xs">{% trans "Shipping" %}</td>
                  <td class="text-xs">
                      {{ shipping_charge.tax|currency:basket.currency }}
                  </td>
              </tr>
          {% endif %}
      {% endblock %}
    
          {% block order_total %}
          <tr>
            <td></td>
            {% if order_total.is_tax_known %}
            <td class="text-lg text-xs text-danger"> {{ order_total.incl_tax|currency:basket.currency }}</td>
            {% else %}
            <td class="text-lg text-xs text-danger"> {{ order_total.incl_tax|currency:basket.currency }}</td>
            {% endif %}
        </tr>
          
          {% endblock %}
        </table>
      </section>
        
      <!-- Promo Banner-->
      <section class="promo-box hidden-lg-down" style="background-image: url('/static/oscar/img/banners/02.jpg');"><span class="overlay-dark" style="opacity: .4;"></span>
        <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
          <h4 class="text-light text-thin text-shadow">New Collection of</h4>
          <h3 class="text-bold text-light text-shadow">Electronics</h3><a class="btn btn-outline-white btn-sm" href="shop-grid-ls.html">Shop Now</a>
      </section>
 
    </aside>
  </div>
  