{% load i18n %}
{% load product_tags %}
{% load promotion_tags%}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load reviews_tags %}
{% load thumbnail %}
{% load static%}
{% load staticfiles%}


{% block content %}

<section class=" padding-top-0x" >
    {% if promotion.name %}
    <div class="sub-header hidden-md-up">
        <h6 class=" text-black bg-primary text-white"><b style=" padding-left:20px">{{ promotion.name }}</b></h6>
    </div>
    <div class="sub-header hidden-md-down">
            <h6 class=" text-black"><b>{{ promotion.name }}</b></h6>
        </div>
    {% endif %}
    <div class="isotope-grid cols-4 padding-top-0x" >
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>
                    {% for product in products %}
        <div class="grid-item">
                <div class="product-card">
                        <div class="rating-stars hidden-md-down">
                           
                        </div>
                        {% block product_image %}
                        <a class="product-thumb" href="{{ product.get_absolute_url }}" {% include "toast.html" %}>
                           {% with image=product.primary_image %}
                              {% thumbnail image.original "200x150" upscale=False as thumb %}
                              <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail">
                              {% endthumbnail %}
                              
                            {% endwith %}
                          </a>
                          {% endblock %}
            
                          {% block product_title %}
                              <h3 class="product-title"><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}" data-toast data-toast-position="bottomCenter" data-toast-title=" " data-toast-type="info" data-toast-message="<img src='{% static 'oscar/css/img/loadi.gif'%}'> Loading... Please Wait"></a><b>{{ product.get_title|truncatechars:20 }}</b></h3>
                          {% endblock product_title %}
            
                      {% block product_price %}
                    <div class="product-price hidden-md-up">
                        {% include "catalogue/partials/stock_without.html" %}
                    </div>
                    <div class="product-price hidden-md-down">
                            {% include "catalogue/partials/stock_record.html" %}
                        </div>
            
                
                      {% endblock %}
                      
                    </div>

        </div>
        {% endfor %}
  {% if block.link_url %}
        <a href="{{ block.link_url }}">{% trans "See more" %}</a>
    {% endif %}
      </div>
    


    <div class=" text-center bg">
    {% if promotion.link_url %}
<a  href="{{ promotion.link_url}}"><p class=" text-primary text-black"> See All &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="text-primary text-bold icon-arrow-right"></i></p>
</a>
{% endif %}

</div>
</section>


{% endblock %}
