{% load i18n %}
{% load product_tags %}
{% load promotion_tags%}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load reviews_tags %}
{% load thumbnail %}
{% load static%}
{% load staticfiles%}
{% load cache %}


{% block content %}
{% cache 100 promo promotion.id %}

<section class=" padding-top-0x" >
    {% if promotion.name %}
    <div class="sub-header hidden-md-up">
        <h6 class="text-black"><a onclick="$('#cover-spin').show(0)" href="{{ promotion.link_url}}">
            <b class="text-black">{{ promotion.name }} <em class=" text-xx">(swipe left)</em></b> </a>
        </h6>
    </div>
    <div class="sub-header hidden-md-down">
            <h6 class=" text-black"><b>{{ promotion.name }}</b></h6>
        </div>
     {% endif %}
    <div class="owl-carousel box-shadow" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: false, &quot;margin&quot;: 0, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:5}} }">
      
        {% for product in products %}
        <div class="grid-item">
                <div class="product-card">
                        <div class="rating-stars hidden-md-down">
                           
                        </div>
                        {% block product_image %}
                        <a class="product-thumb" href="{{ product.get_absolute_url }}" onclick="$('#cover-spin').show(0)">
                           {% with image=product.primary_image %}
                              {% thumbnail image.original "200x150" upscale=False as thumb %}
                              <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail">
                              {% endthumbnail %}
                              
                            {% endwith %}
                          </a>
                          {% endblock %}
            
                          {% block product_title %}
                              <h3 class="product-title"><a href="{{ product.get_absolute_url }}" onclick="$('#cover-spin').show(0)" title="{{ product.get_title }}" ></a><b class=" text-xx">{{ product.get_title|truncatechars:20 }}</b></h3>
                          {% endblock product_title %}            
                      {% block product_price %}
                    <div class="product-price hidden-md-up text-xx">
                        {% include "catalogue/partials/stock_without.html" %}
                    </div>
                    <div class="product-price hidden-md-down text-xx">
                            {% include "catalogue/partials/stock_record.html" %}
                        </div>                            
                      {% endblock %}                      
                    </div>
        </div>
     
        {% endfor %}
      </div>
      {% comment %}
      <div class=" text-center bg">
        {% if promotion.link_url %}
    <a onclick="$('#cover-spin').show(0)" href="{{ promotion.link_url}}"><p class=" text-white text-sm"><b class=" bg-primary">&nbsp; See More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="text-white text-bold icon-arrow-right"></i>&nbsp;</b></p>
    </a>
    {% endif %}
    
    </div>
      {% endcomment %}
    

</section>

{% endcache %}
{% endblock %}
