{% if promotion.images %}
<div class=" owl-carousel dots-inside" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 1, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:2}} }">       
     {% for promotion_image in promotion.images.all %}
        <div class="item {% if forloop.first %}active{% endif %}">
            {% if promotion_image.link_url %}
                <a onclick="$('#cover-spin').show(0)" href="{{ promotion_image.link_url }}"><img src="{{ promotion_image.image.url }}" title="{{ promotion_image.name }}" /></a>
            {% else %}
                <img onclick="$('#cover-spin').show(0)" src="{{ promotion_image.image.url }}" title="{{ promotion_image.name }}" />
            {% endif %}
        </div>
    {% endfor %}

</div>
{% endif %}
