<li class="has-megamenu"><a href="components/accordion.html"><span>Categories</span></a>
    <ul class="mega-menu">
      <li><span class="mega-menu-title">Electronics</span>
          <ul class="sub-menu">
            <li><a href="components/accordion.html">Accordion</a></li>
            <li><a href="components/alerts.html">Alerts</a></li>
            <li><a href="components/buttons.html">Buttons</a></li>
            <li><a href="components/cards.html">Cards</a></li>
            <li><a href="components/carousel.html">Carousel</a></li>
            <li><a href="components/countdown.html">Countdown</a></li>
            <li><a href="components/forms.html">Forms</a></li>
          </ul>
      </li>
      <li><span class="mega-menu-title">Home & Decor</span>
          <ul class="sub-menu">
            <li><a href="components/gallery.html">Gallery</a></li>
            <li><a href="components/google-maps.html">Google Maps</a></li>
            <li><a href="components/images.html">Images &amp; Figures</a></li>
            <li><a href="components/list-group.html">List Group</a></li>
            <li><a href="components/market-social-buttons.html">Market &amp; Social Buttons</a></li>
            <li><a href="components/media.html">Media Object</a></li>
            <li><a href="components/modal.html">Modal</a></li>
          </ul>
      </li>
      <li><span class="mega-menu-title">Men</span>
          <ul class="sub-menu">
            <li><a href="components/pagination.html">Pagination</a></li>
            <li><a href="components/pills.html">Pills</a></li>
            <li><a href="components/progress-bars.html">Progress Bars</a></li>
            <li><a href="components/shop-items.html">Shop Items</a></li>
            <li><a href="components/steps.html">Steps</a></li>
            <li><a href="components/tables.html">Tables</a></li>
            <li><a href="components/tabs.html">Tabs</a></li>
          </ul>
      </li>
      <li><span class="mega-menu-title">Women</span>
          <ul class="sub-menu">
            <li><a href="components/team.html">Team</a></li>
            <li><a href="components/toasts.html">Toast Notifications</a></li>
            <li><a href="components/tooltips-popovers.html">Tooltips &amp; Popovers</a></li>
            <li><a href="components/typography.html">Typography</a></li>
            <li><a href="components/video-player.html">Video Player</a></li>
            <li><a href="components/widgets.html">Widgets</a></li>
          </ul>
      </li>
      <li><span class="mega-menu-title">Kids</span>
        <ul class="sub-menu">
          <li><a href="components/team.html">Team</a></li>
          <li><a href="components/toasts.html">Toast Notifications</a></li>
          <li><a href="components/tooltips-popovers.html">Tooltips &amp; Popovers</a></li>
          <li><a href="components/typography.html">Typography</a></li>
          <li><a href="components/video-player.html">Video Player</a></li>
          <li><a href="components/widgets.html">Widgets</a></li>
        </ul>
    </li>
    </ul>
  </li>