{% extends "layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block mobile %}
{% block sitelogo %}
    <div style=" padding-top:22.5px" onclick="goBack()">
        &nbsp;&nbsp;&nbsp;&nbsp;<a class="icon-arrow-left " style="font-size:18px; font-weight:bold;color:#606975; background-color:white" ></a> &nbsp;&nbsp;&nbsp;<a style="font-size:17px;color:#606975;padding-top:200px">{% block bread %}
            {% trans 'Preview' %}<span class=" text-info"> 3</span> Of <span class=" text-info"> 3</span>  <em class=" text-xx">(scroll down)</em>{% endblock bread %}</a>
        </div>
 {% endblock sitelogo %}
{% endblock mobile %}

{% block show_search  %}

{% endblock show_search  %}

{% block show_account %}

{% endblock show_account %}

{% block canvax %}

{% block breadcrumbs %}

{% endblock %}
{% endblock canvax %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}
{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    
    <div class="row shipping-payment text-xs">
        {% block shipping_address %}
            <div class="col-sm-12">
               
                {% if shipping_address %}
               
                    <div class="row">

                     <div class="col-sm-6">
                            <div class="well" style="padding-top: 10px;
                             padding-left: 20px; padding-right: 40px;">

                            <a class="text-primary" href="{% url 'checkout:shipping-address' %}" style="float:right" {% include "toast.html" %}>
                                    {% trans "Change" %}
                                </a>
                            <h6><b> Shipping to:</b></h6>
                            <ul class="list-unstyled">
                                    <address>
                                            {% for field in shipping_address.active_address_fields %}
                                                {{ field }}<br/>
                                            {% endfor %}
                                        </address>
                                        <li><span class="text-muted">Phone:</span>{{ shipping_address.phone_number }}</li>

                                {% if guest_email %}
                              <li><span class="text-muted">Email:</span>{{ guest_email }}</li>
                              {% endif %}
                            </ul>
                            <hr class="padding-bottom-2x">

                            <a class="text-primary" href="{% url 'checkout:shipping-method' %}" style="float:right" {% include "toast.html" %}>
                                {% trans "Change" %}
                            </a>
                        <h6><b>Shipping method:</b></h6>
                        <ul class="list-unstyled">
                          <li><span>{{ shipping_method.name }}</span>
                        </li>
                        <li><span >{% if shipping_method.description %}-{{ shipping_method.description|safe }}{% endif %}</span></li>
                        </ul>
                        <hr class=" padding-bottom-2x">
                            </div>

                            
                          </div>
                {% endif %}
                        {% endblock shipping_address %}
        {# You will almost certainly want to override this block to provide a payment summary #}
    <hr class="hidden-md-down">


    {% block order_contents %}
        <div class=" col-sm-6">       <div class="sub-header container">
                {% block order_contents_actions %}
                    <a class="text-primary" href="{% url 'basket:summary' %}" style="float:right">
                        {% trans "Edit order contents" %}
                    </a>
                {% endblock %}
                <h6 class=""><b>{% trans "Order contents" %}</b></h6>
            </div>
        <div class="shopping-cart container ">
                <table class="table table-bordered text-xx">
                  <thead>
                    <tr>
                      <th class="text-xx">{% trans "Item" %}</th>
                       <th class="text-center text-xx">{% trans "Total" %}</th>
                     </tr>
                  </thead>
                  {% for line in basket.all_lines %}
                {% purchase_info_for_line request line as session %}
                
                  <tbody>
                    <tr>
                            <td>
                                    <div class="product"> {{ form.id }}
                                            {% with image=line.product.primary_image %}
                                {% thumbnail image.original "70x60" upscale=False as thumb %}
                                <a class="text-center" href="{{ form.instance.product.get_absolute_url }}" {% include "toast.html" %}><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                                {% endthumbnail %}
                                            {% endwith %}
                                      <div class="product-info">
                                        <h5 class="product-title"><a href="{{ product.get_absolute_url }}" {% include "toast.html" %}><small class="text-xs"><b> {{ line.description }}</b>&nbsp; x {{ line.quantity }}</small> 
                                            </a></h5></span>
                                      </div>
                                    </div>
                                  </td>
    
                       <td class="text-center text-xx ">{% if not show_tax_separately and line.is_tax_known %}
                           <b> {{ line.line_price_incl_tax|currency:basket.currency }}</b>
                        {% else %}
                           <b>{{ line.line_price_excl_tax|currency:basket.currency }}</b>
                        {% endif %}</td>
                    </tr>
                    
                   
                  </tbody>
                  {% endfor %}
                </table>
              </div>
     
                         </div>
 
        {% endblock order_contents %}
        {% block payment_method %}
                     <div class="col-sm-6">
                            <div class="well container" style="padding-left: 20px; padding-right: 20px;padding-top: 10px">

                            
                                     <a class=" text-primary"  href="{% url 'checkout:payment-method' %}" style="float:right">
                                        {% trans "Change" %}
                                    </a>
                                    <h6>{% trans "Payment Method" %}</h6>
                              
                              
                                </div>
                          </div>
                          
                
        {% endblock payment_method %}

    </div>

</div>
</div>
<hr class=" padding-bottom-2x">
        
    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block sidebar %}
    
    {% endblock sidebar %}

    {% block payment_details %}
    {% endblock payment_details %}

    {% block place_order %}
    {% endblock place_order %}

{% endblock content %}


