{% extends "layout.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Checkout gateway" %} | {{ block.super }}
{% endblock %}

{% block show_account %}

{% endblock show_account %}
{% block show_search %}

{% endblock show_search %}

{% block mobile %}
{% block sitelogo %}
<div style=" padding-top:22px" onclick="goBack()">
    &nbsp;&nbsp;&nbsp;&nbsp;<a class="icon-arrow-left " style="font-size:18px; font-weight:bold;color:#606975; background-color:white"></a><a style="font-size:17px;color:#606975;"> &nbsp;&nbsp;&nbsp;{% block bread %}
        {% trans 'Checkout Mode' %}{% endblock bread %}</a>
    </div>
 {% endblock sitelogo %}
{% endblock mobile %}



{% block canvax %}
{% block breadcrumbs %}
  

<div class="page-title hidden-md-down">
        <div class="container">
          <div class="column">
            <ul class="breadcrumbs">
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>       
              <li class="separator">&nbsp;</li>
             <li>Checkout</li>
            </ul>
          </div>
        </div>
      </div>
{% endblock %}
{% endblock canvax %}



{% block content %}
<div class="row">
<div class="col-xl-9 col-lg-8">

<p></p>

<h4 class="hidden-md-down text-center">{% trans "Tell us how you want to checkout" %}</h4>
<p></p>
    <form onsubmit="$('#cover-spin').show(0)" action="." method="post"  class="form form-horizontal" style="font-weight:bold">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="col-sm-9">

        {% include "partials/form_field.html" with field=form.username %}

        <div class="form-group">
            <div class="controls">
                <div class="radio">
                    {{ form.options.0 }}
                </div>
            </div>
        </div>

        <div class="form-group {% if form.password.errors %}error{% endif %}">
            {{ form.options.errors }}
            <div class="controls">
                <div class="radio">
                    {{ form.options.2 }}
                    <div class="form-inline">
                        {% render_field form.password class+="form-control" %}
                        <p></p>
                        <small><a class="text-primary" href="{% url 'password-reset' %}" tabindex="-1">{% trans "Get a password reminder" %}</a></small>
                        {% for error in form.password.errors %}
                            <span class="error-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <div class="radio">
                    {{ form.options.1 }}
                </div>
            </div>
        </div>
 
        <div class="form-group hidden-lg-up" >
            <div class=" col-md-8">
                    <div class="row">
                                <button name="registration_submit" type="submit" value="Register" class="btn btn-outline-primary btn-sm btn-block" data-loading-text="{%trans 'Loading...' %}"><b>{% trans 'Continue' %}&nbsp;<i class=" icon-arrow-right"></i></b></button>
                    </div>
            </div>
        </div>
        <div class="form-group hidden-sm-down" >
                
                        <div class="row">
                                    <button name="registration_submit" type="submit" value="Register" class="btn btn-outline-primary btn-sm btn-block" data-loading-text="{%trans 'Loading...' %}"><b>{% trans 'Continue' %}&nbsp;<i class=" icon-arrow-right"></i></b></button>
                 </div>
            </div>
        
        </div>

        
    </form>
</div>
<p></p>
{% include "checkout/sidebar.html" %}

</div>

{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.checkout.gateway.init();
{% endblock %}
