{% extends 'oscar/checkout/preview.html' %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block payment_method %}
    <div class="col-sm-6">
        <div class="sub-header">
            <h2>{% trans "Payment" %}</h2>
        </div>
        <div class="well well-success">
            <a href="{% url 'checkout:payment-method' %}" {% load currency_filters %}
            {% load i18n %}
            {% load purchase_info_tags %}
            {% load reviews_tags %}
            
            {% purchase_info_for_product request product as session %}
            
            {% if session.price.exists %}
                {% if session.price.excl_tax == 0 %}
                    <div class="product-price">{% trans "Free" %}</div>
                {% elif session.price.is_tax_known %}
                    <div class="product-price text-medium" style="color:rgb(13, 102, 32)">{{ session.price.incl_tax|currency:session.price.currency }}</div>
                {% else %}
                    <div class="product-price text-medium" style="color:rgb(13, 102, 32)">{{ session.price.excl_tax|currency:session.price.currency }}</div>
                {% endif %}
            {% else %}
                <div class="price_color">&nbsp;</div>
            {% endif %}
            {% block product_review %}
                            
            
            <p class="star-rating {{ product.rating|as_stars }}">
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
            </p>
                {% endblock %}
            
            <div class="column">
            
            <div class="{{ session.availability.code }} availability hidden-md-down">
                <i class="icon-{% if session.availability.is_available_to_buy %}check{% else %}cross{% endif %}"></i>
                {% if verbose %}
                    {{ session.availability.message }}
                {% else %}
                    {{ session.availability.short_message }}
                {% endif %}
            </div>
            </div></a>
            <h4>{% trans "Cash on Delivery" %}</h4>
            {% if billing_address %}
                {% trans "Billing address" %}:
                <address>
                    {% for field in billing_address.active_address_fields %}
                        {{ field }}<br/>
                    {% endfor %}
                </address>
            {% endif %}
        </div>
    </div>
{% endblock payment_method %}