{% extends 'checkout/checkout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block canvax %}
{% block breadcrumbs %}
  


<div class="page-title hidden-md-down">
        <div class="container">
          <div class="column">
            <ul class="breadcrumbs">
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>       
              <li class="separator">&nbsp;</li>
             <li>Checkout </li>
             <li class="separator">&nbsp;</li>
             <li>Shipping Address </li>
             <li class="separator">&nbsp;</li>
             <li>Payment Method </li>
             <li class="separator">&nbsp;</li>
             <li>Order Preview </li>
            </ul>
          </div>
        </div>
      </div>
{% endblock %}
{% endblock canvax %}


{% block place_order %}
<div class="">   
 <form method="post" onsubmit="$('#cover-spin').show(0)"  action="{% url 'checkout:preview' %}" id="place_order_form">
        {% csrf_token %}
        <input type="hidden" name="action" value="place_order" />

        {% comment %}
            When submitting sensitive data on the payment details page (eg a bankcard)
            we don't want to save the data and so we pass the bound form to the preview
            template and render it in a hidden div.  Then the payment information will
            get re-submitted when the user confirms the order.
        {% endcomment %}
         <div class="form-group clearfix text-center">
            
            <div class=" text-center" >
                   
                            <button id='place-order' type="submit" class="btn btn-success btn-sm btn-block" data-loading-text="{% trans 'loading...' %}">{% trans "Place order" %}</button>
                </div>
        </div>
    </form>
</div>

{% endblock place_order %}

{% block hiddenforms %}
    {{ bankcard_form.as_p }}
{% endblock %}
