{% extends 'checkout/thank_you.html' %}
{% load i18n %}
{% load currency_filters %}


{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}




{% block checkout_nav %}
{% endblock %}

{% block checkout_title %}
    
{% endblock %}

{% block content %}

 <p>
	 <p></p>
 </p>
<div class="card text-center container">
		{% blocktrans with number=order.number %}
		<p></p>
			<span class="text-lg text-center"> Order {{ number }}: confirmation
				</span>
				<p></p>
				{% endblocktrans %}
		<div class="card-body padding-top-1x">
		  <h3 class="card-title">Thank you for your order!</h3>
		  <p class="card-text">Your order has been placed and will be processed as soon as possible.</p>
<p>
		<div class="well well-info">
				{% for source in order.sources.all %}
					{{ source }}
				{% endfor %}
			</div>
</p>
 
		  <p class="card-text">You will be receiving a call shortly from our customer care about your order. </p>

		  {% blocktrans with number=order.number %}
		  <p>Please make a note of this reference <span class="text-medium text-primary"><strong>{{ number }}</strong>.</span> or print this page and quote it in any communication with us regarding your order."</p>
		  {% endblocktrans %}
	
		  <p>	
			<u>You can now:</u>
		  </p>
		  <div class="padding-top-1x padding-bottom-1x"><a onclick="$('#cover-spin').show(0)"  class="btn btn-outline-success" href="{{ homepage_url }}">Go Back Shopping</a>
			{% if not order.user %}

			<a onclick="$('#cover-spin').show(0)" class="btn btn-outline-primary" href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}" >{% trans "View order status" %}</a>
			{% endif %}
			<a onclick="$('#cover-spin').show(0)" class="btn btn-outline-primary" onclick="window.print()" href="#"><i class="icon-location"></i>&nbsp;Print Order Page</a></div>
		</div>
		
	  </div>
    
    <p class="padding-top-2x"></p>

  

<p></p>
{% endblock content %}

{% block tracking %}
    {% if send_analytics_event %}
        {% include "partials/google_analytics_transaction.html" %}
    {% endif %}
{% endblock %}


