{% extends "layout.html" %}
{% load thumbnail %}
{% load i18n %}

{% block show_account %}
<div class="account"><a href="/" onclick="$('#cover-spin').show(0)"></a><i style="font-weight:bold; font-size:21px" class="pe-7s-home"></i></div>

{% endblock show_account %}


{% block mobile %}
{% block sitelogo %}
<div style=" padding-top:22.5px" onclick="goBack()">
&nbsp;&nbsp;&nbsp;&nbsp;<a class="icon-arrow-left " style="font-size:18px; font-weight:bold;color:#606975; background-color:white" ></a> &nbsp;&nbsp;&nbsp;<a style="font-size:16px;color:#606975;padding-top:200px">{% block bread %}
    {% trans 'My Basket' %}{% endblock bread %}</a>
</div>


 {% endblock sitelogo %}
{% endblock mobile %}

{% block show_basket %}

{% endblock show_basket %}
{% block canvax %}

{% block breadcrumbs %}
<div class="page-title hidden-md-down">
        <div class="container">
          

          <div class="column">
            <ul class="breadcrumbs">
                    <a href="{{ homepage_url }}">{% trans "Home" %}</a>       
              <li class="separator">&nbsp;</li>
              <li class="active">{% trans "My Basket" %}</li>
            </ul>
          </div>
        </div>
      </div>
{% endblock %}

{% endblock canvax %}
    
{% block title %}
    {% trans "Basket" %} | {{ block.super }}
{% endblock %}

{# Hide mini-basket so we don't have two baskets to keep in sync #}
{% block mini_basket %}{% endblock %}
{% block show_partial %}
 
{% endblock show_partial %}
{% block content %}
<div class="padding-bottom-10x mb-1">
        {% include "partials/alert_messages.html" %}

    {# Use a partial template so that AJAX can be used to re-render basket #}
    {% include 'basket/partials/basket_content.html' %}
    </div>
{% endblock content %}

{% block showfooter %}
  
{% endblock showfooter %}
{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    var options = {
        'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
{% endblock %}
