{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {{ flatpage.title}} | {{ block.super }}
{% endblock %}


{% block mobile %}
{% block sitelogo %}
<p class="padding-bottom-1x"></p>
<p class="padding-bottom-1x"></p>&nbsp;&nbsp;&nbsp;&nbsp;<a class="icon-arrow-left " style="font-size:18px; font-weight:bold;color:#606975; background-color:white" onclick="goBack()"></a><a style="font-size:16px;color:#606975;"> &nbsp;&nbsp;&nbsp;{% block bread %}
    {{ flatpage.title|safe }}{% endblock bread %}</a>

 {% endblock sitelogo %}
{% endblock mobile %}

  {% block sidebar %}
  
  {% endblock sidebar %}
  {% block show_account %}
  <div class="account hidden-md-up"><a href="/"></a><i style="font-weight:bold; font-size:20px" class="pe-7s-home"></i></div>
  <div class="account hidden-md-down"><a href="/accounts"  ></a><i style="font-weight:bold" class="icon-head"></i>

  {% endblock show_account %}
  
{% block show_basket %}

{% endblock show_basket %}
{% block canvax %}
<div class="hidden-md-down">
{% block breadcrumbs %}
   
    <div class="page-title hidden-md-down">
            <div class="container">
              
              <div class="column">
                <ul class="breadcrumbs">
                <a href="{{ homepage_url }}">{% trans "Home" %}</a>       
                  <li class="separator">&nbsp;</li>
                  <li>{{ flatpage.title|safe }}</li>
                </ul>
              </div>
            </div>
          </div>
 {% endblock %}
</div>
{% endblock canvax %}
{% block content %}

{% if user.is_staff %}
<a class="hidden-xs float-right" href="{% url 'dashboard:page-update' pk=flatpage.id %}"><small><i class="icon-edit"></i> {% trans "Edit this page" %}</small></a>
{% endif %}

<div class=" cols-md-12">
    <article>{{ flatpage.content|safe }}</article>
  </div>
{% endblock %}
