{% load cache %}
{% cache 600 cat_list%}
<ul class=" text-medium">
    <li class="has-children"><a href="#">Shoes</a><span>(1138)</span>
      <ul>
        <li><a href="#">Women's</a><span>{{produts.Fashion.count}}</span>
          <ul>
            <li><a href="#">Sneakers</a></li>
            <li><a href="#">Heels</a></li>
            <li><a href="#">Loafers</a></li>
            <li><a href="#">Sandals</a></li>
          </ul>
        </li>
        <li><a href="#">Men's</a><span>(423)</span>
          <ul>
            <li><a href="#">Boots</a></li>
         <li><a href="#">Loafers</a></li>
            <li><a href="#">Sandals</a></li>
          </ul>
        </li>
        <li><a href="#">Boy's Shoes</a><span>(97)</span></li>
        <li><a href="#">Girl's Shoes</a><span>(110)</span></li>
      </ul>
    </li>
    <li class="has-children"><a href="#">Clothing</a><span>(2356)</span>
      <ul>
        <li><a href="#">Women's</a><span>(1032)</span>
          <ul>
            <li><a href="#">Dresses</a></li>
            <li><a href="#">Shirts &amp; Tops</a></li>
            <li><a href="#">Swimwear</a></li>
            <li><a href="#">Shorts</a></li>
          </ul>
        </li>
        <li><a href="#">Men's</a><span>(937)</span>
          <ul>
            <li><a href="#">Shirts &amp; Tops</a></li>
            <li><a href="#">Shorts</a></li>
            <li><a href="#">Swimwear</a></li>
            <li><a href="#">Pants</a></li>
          </ul>
        </li>
        <li><a href="#">Kid's Clothing</a><span>(386)</span></li>
      </ul>
    </li>
    <li class="has-children"><a href="#">Bags</a><span>(420)</span>
      <ul>
        <li><a href="#">Handbags</a><span>(180)</span></li>
        <li><a href="#">Backpacks</a><span>(132)</span></li>
        <li><a href="#">Wallets &amp; Accessories</a><span>(47)</span></li>
        <li><a href="#">Luggage</a><span>(61)</span></li>
      </ul>
    </li>
    <li class="has-children"><a href="#">Bags</a><span>(420)</span>
        <ul>
          <li><a href="#">Handbags</a><span>(180)</span></li>
          <li><a href="#">Backpacks</a><span>(132)</span></li>
          <li><a href="#">Wallets &amp; Accessories</a><span>(47)</span></li>
          <li><a href="#">Luggage</a><span>(61)</span></li>
        </ul>
      </li>
      <li class="has-children"><a href="#">Electonics</a><span>(420)</span>
        <ul>
          <li><a href="#">Handbags</a><span>(180)</span></li>
          <li><a href="#">Backpacks</a><span>(132)</span></li>
          <li><a href="#">Wallets &amp; Accessories</a><span>(47)</span></li>
          <li><a href="#">Luggage</a><span>(61)</span></li>
        </ul>
      </li>
      <li class="has-children"><a href="#">Home & Decor</a><span>(420)</span>
        <ul>
          <li><a href="#">Handbags</a><span>(180)</span></li>
          <li><a href="#">Backpacks</a><span>(132)</span></li>
          <li><a href="#">Wallets &amp; Accessories</a><span>(47)</span></li>
          <li><a href="#">Luggage</a><span>(61)</span></li>
        </ul>
      </li>
      <li class="has-children"><a href="#">Bags</a><span>(420)</span>
        <ul>
          <li><a href="#">Handbags</a><span>(180)</span></li>
          <li><a href="#">Backpacks</a><span>(132)</span></li>
          <li><a href="#">Wallets &amp; Accessories</a><span>(47)</span></li>
          <li><a href="#">Luggage</a><span>(61)</span></li>
        </ul>
      </li>
      
  </ul>
  {% endcache %}